<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./chat.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Chat App</title>
</head>
<body>
  <div class="main-content">
    <div id="app">
      <h1 class="welcome">
        Anna's Chat App
      </h1>

      <button @click="scrollTop" id="scrollTopButton">
        ^ top
      </button>
      
      <p>
        <button @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </p>
  
      <!-- If we're not logged in, hide everything except the login button -->
      <template v-if="$gf.me">
  
        <p class="welcome">
          <!-- We display names in multiple places, so we made a -->
          <!-- reusable <name></name> component. -->
          <!-- See below for the template. -->
            Welcome <name class="welcome" :actor="$gf.me" :editable="true"></name>
            <profile :actor="$gf.me" :editable="true"></profile>
        </p>

        <form class="username-form">
            <span class="username">Username: {{myUsername}}</span>
            <input id="username" v-model="usernameRequest" placeholder="choose a username..."/> 
            <button type="button" @click="requestUsername(usernameRequest)">Request</button>
            <img class="loaded" id="loader" src="images/loader.svg">      
            <span> {{this.usernameRequestError}}</span>
        </form>  

        <div v-if="privateMessaging">
          <details id="remindersList">
            <summary>Reminders({{numReminders}})</summary>
            <ul>
              <li v-for="reminder of reminders">
                Remember to respond to {{reminder.people}}!
                <button @click="removeReminder(reminder)">X</button>
              </li>
            </ul>
          </details>

          <div id="categoryHeaders">
            <div class="category-header" @click="toCategory(category)" v-for="category of categoryNames" :id="category===currentCategory? 'selected' : ''">
              {{category}}
            </div>
          </div>

          <div>
            <p class="chatting-with" v-if="recipients.length > 0">
                <button @click="fromGroup">⬅️ Back</button>
                Chatting with 
                <span v-for="r of recipients">
                  <span v-if="r !== $gf.me || recipients.length === 1">
                    <profile :actor="r"></profile> 
                    <name :actor="r"></name>
                    ({{ actorsToUsernames[r] }})
                    <span v-if="r !== recipients[recipients.length-1]">,</span>
                  </span>
                </span> 
            </p>
          </div>
        </div>
        
        <div class="conversation-previews">
          <div v-if="currentCategory !== 'Pinned Messages'" class="actions">
            <div @click="onNewConvo" id="newConvo" class="action" title="create conversation">
              <img src="images/pen-to-square-regular.svg"/>
            </div>

            <div @click="onNewReminder" id="newReminder" class="action" title="set reminder to respond">
              <img src="images/clock-regular.svg"/>
            </div>

            <div id="reminderInput" class="hide">
              <span>Respond </span>

              <select v-model="timeOptionSelected">
                <option id="in" value="in">in</option>
                <option id="at" value="at">at</option>
              </select>

              <input v-if="timeOptionSelected==='in'" type="number" step="1" v-model="hours">
              <span v-if="timeOptionSelected==='in'"> hours</span>

              <input v-if="timeOptionSelected==='at'" type="date" v-model="date" id="datePicker">
              <input v-if="timeOptionSelected==='at'" type="time" v-model="time">
            </div>

            <div @click="sendReminder" id="setReminder" class="hide">              
              <span>Set</span>
            </div> 

            <div @click="fromSelecting" id="exitSelect" class="hide">
              <img src="images/x-solid.svg"/>
            </div>

            <span id="reminderConfirmation"></span>
          </div>

          <div hidden class="action-form" id="newConvoForm">
            <button @click="fromAction">⬅️ Back</button>

            <fieldset>
              <label>New Conversation</label>
              <div id="addUserForm">
                <input id="recipient-username" v-model="addUserRequest" placeholder="search for a username...">
                <button @click="addUser">Add User</button>
                <span>{{this.addUserRequestError}}</span>
                <img class="loaded" id="loader4" src="images/loader.svg">
              </div>
  
              <div id="addedUsers">
                <span v-for="user of addedUsers">
                 
                  <profile :actor="user"></profile>
                  <name :actor="user"></name>
                  ({{actorsToUsernames[user]}})
                  <button v-if="beforeCreateConvo" @click="addedUsers.delete(user)">X</button>,
                
                </span>
              </div>
              
              <button id="createConvo" v-if="addedUsers.size > 0" @click="onCreateConvo">Create Conversation</button>

              <form id="startConvoSendForm" class="send-form" hidden @submit.prevent="sendAndCreate">
                <div class="message-input-div">
                  <div>
                      <input @change="onImageAttachment" type="file" accept="image/*"/>
                  </div>
                  <input class="message-input" v-model="messageText" placeholder="Message..."/>
                  <input type="submit" value="Send"/>
                </div>
              </form>
            </fieldset>
          </div>
         
          <ul class="conversation-previews">
            <!-- <li v-for="group of groups" :key="group.id"> -->
            <li v-for="groupKey of groupCategories[currentCategory]">
              <div class="previews-container">
                <div id="preview" @click="toGroup(groups[groupKey])" v-bind:class="(groups[groupKey].id === Object.keys(groups[groupKey])[0])? 'conversation-preview-first' : 'conversation-preview'">
                  <span class="contact" v-for="member of groups[groupKey].actors">
                    <span v-if="member !== $gf.me || groups[groupKey].actors.length === 1">
                      <profile :actor="member"></profile>
                      <name :actor="member"></name>
                      ({{actorsToUsernames[member]}})
                      <span v-if="member !== groups[groupKey].actors[groups[groupKey].actors.length-1]">,</span>
                    </span> 
                  </span>
                  <p>{{groups[groupKey].messages[0].content}}</p>
                </div>
                <div hidden id="selectBoxes">
                  <input type="checkbox" v-bind:name="groups[groupKey].id"/>
                </div>
              </div>
             
            </li>
          </ul>
        </div>

        <div v-if="currentCategory==='Pinned Messages'" class="pinned-messages">
          <ul>
            <!-- List all the messages -->
            <li v-for="message of messages" :key="message.id">
              <ul v-if="isPinned(message.id)">
                <div class="message-bubble">
                  <div v-bind:id="message.actor !== $gf.me ? 'notSentByMe' : 'sentByMe'">
                    <profile :actor="message.actor"></profile>
                    <name :actor="message.actor"></name>
                    <span>({{actorsToUsernames[message.actor]}})</span>
                    <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
        
                    <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                    <fieldset class="message">
                      <button id="pin" @click="togglePin($event, message.id)">
                        {{ isPinned(message.id)? 'Unpin 📌' : 'Pin 📌' }}
                      </button>              
                      <p id="message-text">{{message.content}}</p>
                      <li v-if="message.attachment && message.attachment.magnet">
                        magnet-img :src="message.attachment.magnet"></magnet-img>
                      </li>
                      <span class="dateTime">Last Updated: {{ new Date(message.updated).toString().slice(0,-36) }}</span>
                      <note :messageid="message.id"></note>
                    </fieldset>
                    <like :messageid="message.id"></like>
                    <read :messageid="message.id"></read>
                  </div>
                </div>
              </ul>
            </li>
          </ul>
        </div>

        <!-- A form for sending messages -->
        <form hidden id="sendForm" class="send-form" @submit.prevent="sendMessage">
          <fieldset>
            <div class="message-input-div">
              <div>
                  <input @change="onImageAttachment" type="file" accept="image/*"/>
              </div>
              <input class="message-input" v-model="messageText" placeholder="Message..."/>
              <input type="submit" value="Send"/>
            </div>
          </fieldset>
        </form>

        <div hidden class="conversation">
          <ul>
            <!-- List all the messages -->
            <li v-for="message of groupMessages" :key="message.id">
              <!-- Display and edit form if we're editing a message -->
              <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                <div class="message-bubble">
                  <div v-bind:id="message.actor !== $gf.me ? 'notSentByMe' : 'sentByMe'">
                    <profile :actor="message.actor"></profile>
                    <name :actor="message.actor"></name>
                    <span>({{actorsToUsernames[message.actor]}})</span>
                    <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
              
                    <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                      <fieldset class="message">
                        <button id="pin" @click="togglePin($event, message.id)">
                          {{ isPinned(message.id)? 'Unpin 📌' : 'Pin 📌' }}
                        </button>              
                        <input class="edit-input" v-model="editText">
                        <input type="submit" value="Save"/>
                      </fieldset>
                      <like :messageid="message.id"></like>
                  </div>
                </div>
              </form>
        
              <!-- Otherwise, display a bunch of properties from the message -->
              <ul v-else>
                <div class="message-bubble">
                  <div  v-bind:id="message.actor !== $gf.me ? 'notSentByMe' : 'sentByMe'">
                    <profile :actor="message.actor"></profile>
                    <name :actor="message.actor"></name>
                    <span>({{actorsToUsernames[message.actor]}})</span>
                    <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
        
                    <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                    <fieldset class="message">
                      <button id="pin" @click="togglePin($event, message.id)">
                        {{ isPinned(message.id)? 'Unpin 📌' : 'Pin 📌' }}
                      </button>              
                      <p id="message-text">{{message.content}}</p>
                      <li v-if="message.attachment && message.attachment.magnet">
                        magnet-img :src="message.attachment.magnet"></magnet-img>
                      </li>
                      <span class="dateTime">Last Updated: {{ new Date(message.updated).toString().slice(0,-36) }}</span>
                      <note :messageid="message.id"></note>
                    </fieldset>
                    <like :messageid="message.id"></like>
                    <read :messageid="message.id"></read>
        
        
          
                    <!-- Only add these controls if the message is ours -->
                    <!-- You can't edit or delete other people's messages -->
                    <template v-if="message.actor==$gf.me">
                      <button class="edit" @click="startEditMessage($event, message)">
                        ✏️ Edit
                      </button>
    
                        <button class="delete" @click="removeMessage($event, message)">
                            🗑️ Delete
                        </button>
                    </template>
                  </div>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </template>
    </div>

    <template id="magnet-img">
      <img :src="fetchedSrc" id="profile-pic"/>
    </template>

    <template id="profile">
        <div class="profile" v-if="!editing">
            <div class="profile">
              <magnet-img :src="profile?profile.icon.magnet:anonymous"></magnet-img>
            </div> 
    
            <button v-if="editable" @click="editProfile">
                ✏️ Edit profile pic
            </button>
        </div>

        <div v-else class="profile" v-if="editable">
            <input @change="onPicture" type="file" accept="image/*"/>
            <button @click="savePicture">Save</button>
        </div>
    </template>

    <template id="name">
      <span v-if="!editing">
  
        <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
        {{ profile? profile.name : 'Anonymous' }}
  
        <!-- Also if the name is "editable" add an edit button -->
        <button v-if="editable" @click="editName">
          ✏️ Edit
        </button>
      </span>
  
      <!-- If we're in the editing state, create something to edit the name-->
      <form v-else @submit.prevent="saveName">
        <input v-model="editText"/>
        <input type="submit" value="Save Name"/>
      </form>
    </template>

    <template id="like">
        <button @click="toggleLike">
          {{ myLikes.length? 'Unlike 👍' : 'Like 👍' }}
        </button>
        <span class="num-likes">{{ numLikes }}</span>
    </template>

    <template id="read">
      <div class="read">
        <span>Read by {{ numReads }}: </span>
        <span v-for="actor in readActors">
          <name :actor="actor"></name>
          <span v-if="actor !== readActors[readActors.length-1]">,</span>
        </span>
      </div>
    </template>

    <template id="note">
      <button @click="startReply">Reply ↩️</button>
      <form hidden="true" @submit.prevent="sendReply">
          <input v-model="replyText" placeholder="My reply is..."></input>
          <input type="submit" value="Send"/>
      </form>
      <details>
          <summary>{{ numNotes }} Replies</summary>
          <ul>
              <li id="reply" v-for="note of notes">
                  <div id="reply">
                      <span>{{actorsToUsernames[note.actor]}}</span>
                      <p id="note-content">{{note.content}}
                          <template v-if="note.actor==$gf.me">
                              <button class="delete" @click="removeReply(note)">
                                  🗑️ Delete
                              </button>    
                          </template>
                      </p>
                  </div>
              </li>
          </ul>
      </details>
    </template> 
  </div>
</body>
</html>
