<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./chat2.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Chat App</title>
</head>
<body>
  <div class="main-content">
    <div id="app">
      <h1 class="welcome">
        Anna's Chat App
      </h1>
      
      <p>
        <button @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </p>
  
      <!-- If we're not logged in, hide everything except the login button -->
      <template v-if="$gf.me">
  
        <p class="welcome">
          <!-- We display names in multiple places, so we made a -->
          <!-- reusable <name></name> component. -->
          <!-- See below for the template. -->
            Welcome <name class="welcome" :actor="$gf.me" :editable="true"></name>
            <profile :actor="$gf.me" :editable="true"></profile>
        </p>

        <form class="username-form">
            <span class="username">Username: {{myUsername}}</span>
            <input id="username" v-model="usernameRequest" placeholder="choose a username..."/> 
            <button type="button" @click="requestUsername(usernameRequest)">Request</button>
            <img class="loaded" id="loader" src="images/loader.svg">      
            <span> {{this.usernameRequestError}}</span>
        </form>  

        <div v-if="privateMessaging">
          <div id="categoryHeaders">
            <div class="category-header" @click="toCategory(category)" v-for="category of categoryNames" :id="category===currentCategory? 'selected' : ''">
              {{category}}
            </div>
            <div @click="addCategory" class="category-header">
              <img src="images/plus-solid.svg"/>
            </div>

          </div>

          <div>
            <p class="chatting-with" v-if="recipients.length > 0">
                <button @click="fromGroup">⬅️ Back</button>
                Chatting with 
                <span v-for="r of recipients">
                  <span v-if="r !== $gf.me || recipients.length === 1">
                    <profile :actor="r"></profile> 
                    <name :actor="r"></name>
                    ({{ actorsToUsernames[r] }}),
                  </span>
                </span> 
            </p>
          </div>
        </div>

        <!-- A form for sending messages -->
        <form class="send-form" hidden @submit.prevent="sendMessage">
          <fieldset>
            <div class="message-input-div">
              <div>
                  <input @change="onImageAttachment" type="file" accept="image/*"/>
              </div>
              <input class="message-input" v-model="messageText" placeholder="Message..."/>
              <input type="submit" value="Send"/>
            </div>
          </fieldset>
        </form>
       
        
        <div class="conversation-previews">
          <div class="actions">
            <div @click="onNewConvo" id="newConvo" class="action">
              <img src="images/message-regular.svg"/>
            </div>

            <div @click="onNewReminder" id="newReminder" class="action">
              <img src="images/clock-regular.svg"/>
            </div>

            <div @click="onMoveTo" id="moveToCategory" class="action">
              <img src="images/folder-regular.svg"/>
            </div>
          </div>

          <div hidden class="action-form" id="newConvoForm">

            <fieldset>
              <label>New Conversation</label>
              <div id="addUserForm">
                <input id="recipient-username" v-model="addUserRequest" placeholder="search for a username...">
                <button @click="addUser">Add User</button>
                <span>{{this.addUserRequestError}}</span>
                <img class="loaded" id="loader4" src="images/loader.svg">
              </div>
  
              <div id="addedUsers">
                <span v-for="user of addedUsers">
                 
                  <profile :actor="user"></profile>
                  <name :actor="user"></name>
                  ({{actorsToUsernames[user]}})
                  <button v-if="beforeCreateConvo" @click="addedUsers.delete(user)">X</button>,
                
                </span>
              </div>
              
              <button id="createConvo" v-if="addedUsers.size > 0" @click="onCreateConvo">Create Conversation</button>

              <form id="startConvoSendForm" class="send-form" hidden @submit.prevent="sendAndCreate">
                <div class="message-input-div">
                  <div>
                      <input @change="onImageAttachment" type="file" accept="image/*"/>
                  </div>
                  <input class="message-input" v-model="messageText" placeholder="Message..."/>
                  <input type="submit" value="Send"/>
                </div>
              </form>
            </fieldset>
            <button @click="fromAction">⬅️ Back</button>
          </div>
         
          <ul class="conversation-previews">
            <li v-for="group of groups" :key="group.id">
              <div class="previews-container">
                <div @click="toGroup(group)" v-bind:class="(group.id === Object.keys(groups)[0])? 'conversation-preview-first' : 'conversation-preview'">
                  <span class="contact" v-for="member of group.actors">
                    <span v-if="member !== $gf.me || group.actors.length === 1">
                      <profile :actor="member"></profile>
                      <name :actor="member"></name>
                      ({{actorsToUsernames[member]}}),
                    </span> 
                  </span>
                  <p>{{group.messages[0].content}}</p>
                </div>
                <div hidden id="selectBoxes">
                  <input type="checkbox"/>
                </div>
              </div>
             
            </li>
          </ul>
        </div>

        <div hidden class="conversation">
          <ul>
            <!-- List all the messages -->
            <li v-for="message of groupMessages" :key="message.id">
              <!-- Display and edit form if we're editing a message -->
              <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                <div class="message-bubble">
                  <profile :actor="message.actor"></profile>
                  <name :actor="message.actor"></name>
                  <span>({{actorsToUsernames[message.actor]}})</span>
                  <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
                  <template v-if="privateMessaging">
                    <span id="to" v-for="b of new Set(message.bto)">
                      <span v-if="b !== $gf.me || message.bto.length === 1">
                        To: 
                        <profile :actor="b"></profile>
                        <name :actor="b"></name>  
                        <span>({{actorsToUsernames[b]}})</span>
                        ,
                      </span>
                    </span>
                    <!-- <button @click="copy($event, message.bto[0])" class="id">Copy ID</button> -->
                  </template>
            
                  <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                    <fieldset class="message">
                      <input class="edit-input" v-model="editText">
                      <input type="submit" value="Save"/>
                    </fieldset>
                    <like :messageid="message.id"></like>
                </div>
              </form>
        
              <!-- Otherwise, display a bunch of properties from the message -->
              <ul v-else>
                <div class="message-bubble">
                  <profile :actor="message.actor"></profile>
                  <name :actor="message.actor"></name>
                  <span>({{actorsToUsernames[message.actor]}})</span>
                  <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
                  <template v-if="privateMessaging">
                    <span id="to" v-for="b of new Set(message.bto)">
                      <span v-if="b !== $gf.me || message.bto.length === 1">
                        To: 
                        <profile :actor="b"></profile>
                        <name :actor="b"></name>  
                        <span>({{actorsToUsernames[b]}})</span>
                        ,
                      </span>
                    </span>
                    <!-- <button @click="copy($event, message.bto[0])" class="id">Copy ID</button> -->
                  </template>
      
                  <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                  <fieldset class="message">
                    <p id="message-text">{{message.content}}</p>
                    <li v-if="message.attachment && message.attachment.magnet">
                      magnet-img :src="message.attachment.magnet"></magnet-img>
                    </li>
                    <span class="dateTime">Last Updated: {{ new Date(message.updated).toString().slice(0,-36) }}</span>
                    <note :messageid="message.id"></note>
                  </fieldset>
                  <like :messageid="message.id"></like>
                  <read :messageid="message.id"></read>
      
      
        
                  <!-- Only add these controls if the message is ours -->
                  <!-- You can't edit or delete other people's messages -->
                  <template v-if="message.actor==$gf.me">
                    <button class="edit" @click="startEditMessage($event, message)">
                      ✏️ Edit
                    </button>
  
                      <button class="delete" @click="removeMessage($event, message)">
                          🗑️ Delete
                      </button>
                  </template>
                </div>
              </ul>
            </li>
          </ul>
        </div>

        <ul hidden>
          <!-- List all the messages -->
          <li v-for="message of messages" :key="message.id">
  
            <!-- Display and edit form if we're editing a message -->
            <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                <div class="message-bubble">
                    <profile :actor="message.actor"></profile>
                    <name :actor="message.actor"></name>
                    <span>({{actorsToUsernames[message.actor]}})</span>
                    <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
                    <template v-if="privateMessaging">
                      <span id="to" v-for="b of new Set(message.bto)">
                        <span v-if="b !== $gf.me || message.bto.length === 1">
                          To: 
                          <profile :actor="b"></profile>
                          <name :actor="b"></name>  
                          <span>({{actorsToUsernames[b]}})</span>
                          ,
                        </span>
                      </span>
                      <!-- <button @click="copy($event, message.bto[0])" class="id">Copy ID</button> -->
                    </template>
    
                    <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                    <fieldset class="message">
                        <input class="edit-input" v-model="editText">
                        <input type="submit" value="Save"/>
                    </fieldset>
                    <like :messageid="message.id"></like>
                </div>
            </form>
  
            <!-- Otherwise, display a bunch of properties from the message -->
            <ul v-else>
              <div class="message-bubble">
                <profile :actor="message.actor"></profile>
                <name :actor="message.actor"></name>
                <span>({{actorsToUsernames[message.actor]}})</span>
                <!-- <button @click="copy($event, message.actor)" class="id">Copy ID</button> -->
                <template v-if="privateMessaging">
                  <span id="to" v-for="b of new Set(message.bto)">
                    <span v-if="b !== $gf.me || message.bto.length === 1">
                      To: 
                      <profile :actor="b"></profile>
                      <name :actor="b"></name>  
                      <span>({{actorsToUsernames[b]}})</span>
                      ,
                    </span>
                  </span>

                  <!-- <button @click="copy($event, message.bto[0])" class="id">Copy ID</button> -->
                </template>

                <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                <fieldset class="message">
                  <p id="message-text">{{message.content}}</p>
                  <li v-if="message.attachment && message.attachment.magnet">
                    <magnet-img :src="message.attachment.magnet"></magnet-img>
                  </li>
                  <span class="dateTime">Last Updated: {{ new Date(message.updated).toString().slice(0,-36) }}</span>
                  <note :messageid="message.id"></note>
                </fieldset>
                <like :messageid="message.id"></like>
                <read :messageid="message.id"></read>


  
                <!-- Only add these controls if the message is ours -->
                <!-- You can't edit or delete other people's messages -->
                <template v-if="message.actor==$gf.me">
                  <button class="edit" @click="startEditMessage($event, message)">
                    ✏️ Edit
                  </button>

                    <button class="delete" @click="removeMessage($event, message)">
                        🗑️ Delete
                    </button>
                </template>
              </div>
            </ul>
          </li>
        </ul>
      </template>
    </div>

    <template id="magnet-img">
      <img :src="fetchedSrc" id="profile-pic"/>
    </template>

    <template id="profile">
        <div class="profile" v-if="!editing">
            <div class="profile">
              <magnet-img :src="profile?profile.icon.magnet:anonymous"></magnet-img>
            </div> 
    
            <button v-if="editable" @click="editProfile">
                ✏️ Edit profile pic
            </button>
        </div>

        <div v-else class="profile" v-if="editable">
            <input @change="onPicture" type="file" accept="image/*"/>
            <button @click="savePicture">Save</button>
        </div>
    </template>

    <template id="name">
      <span v-if="!editing">
  
        <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
        {{ profile? profile.name : 'Anonymous' }}
  
        <!-- Also if the name is "editable" add an edit button -->
        <button v-if="editable" @click="editName">
          ✏️ Edit
        </button>
      </span>
  
      <!-- If we're in the editing state, create something to edit the name-->
      <form v-else @submit.prevent="saveName">
        <input v-model="editText"/>
        <input type="submit" value="Save Name"/>
      </form>
    </template>

    <template id="like">
        <button @click="toggleLike">
          {{ myLikes.length? 'Unlike 👍' : 'Like 👍' }}
        </button>
        <span class="num-likes">{{ numLikes }}</span>
    </template>

    <template id="read">
      <div class="read">
        <span>Read by {{ numReads }}: </span>
        <span v-for="actor in readActors">
          <name :actor="actor"></name>,
        </span>
      </div>
    </template>

    <template id="note">
        <details>
            <summary>{{ numNotes }} Replies</summary>
            <ul>
                <li id="reply" v-for="note of notes">
                    <div id="reply">
                        <span>{{actorsToUsernames[note.actor]}}</span>
                        <p id="note-content">{{note.content}}
                            <template v-if="note.actor==$gf.me">
                                <button class="delete" @click="removeReply(note)">
                                    🗑️ Delete
                                </button>    
                            </template>
                        </p>
                    </div>
                </li>
            </ul>
        </details>
        <button @click="startReply">Reply ↩️</button>
        <form hidden="true" @submit.prevent="sendReply">
            <input v-model="replyText" placeholder="My reply is..."></input>
            <input type="submit" value="Send"/>
        </form>
    </template>
 
  </div>
</body>
</html>
