<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./chat.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Chat App</title>
</head>
<body>
  <div class="main-content">
    <div id="app">
      <h1 class="welcome">
        Anna's Chat App
      </h1>

      <p>
        <button @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </p>
  
      <!-- If we're not logged in, hide everything except the login button -->
      <template v-if="$gf.me">
  
        <p class="welcome">
          <!-- We display names in multiple places, so we made a -->
          <!-- reusable <name></name> component. -->
          <!-- See below for the template. -->
            Welcome <name class="welcome" :actor="$gf.me" :editable="true"></name>
        </p>

        <form>
            <span class="username">Username: {{myUsername}}</span>
            <!-- <label for="username">Username: </label> -->
            <input id="username" v-model="usernameRequest" placeholder="choose a username..."/> 
            <button type="button" @click="requestUsername(usernameRequest)">Request</button>
            <img class="loaded" id="loader" src="images/loader.svg">      
            <span> {{this.usernameRequestError}}</span>
        </form>  
   
        <p>
          <input @click="changeMessageType" type="radio" id="channel" :value="false" v-model="privateMessaging" />
          <label class="selected" for="channel">Channel-based public chat</label>
  
          <input @click="changeMessageType" type="radio" id="pm" :value="true" v-model="privateMessaging" />
          <label class="unselected" for="pm">Private messaging</label>
        </p>
  
        <div v-if="!privateMessaging">
          <label for="channel">
            Channel:
          </label>
          <input id="channel" v-model="channel"/>
        </div>

        <div v-else>
          <div>
            <p v-if="recipient">
                Chatting with {{ recipientUsernameRequest }}
            </p>

            <p v-else>
                Chatting with...
            </p>

            <input id="recipient-username" v-model="recipientUsernameRequest" placeholder="search for a username...">
            <button @click="usernameToActor(recipientUsernameRequest)">Search</button>
            <span>{{this.recipientUsernameError}}</span>
            <img class="loaded" id="loader2" src="images/loader.svg">
          </div>

          <div>
            <input id="recipient" v-model="recipient" placeholder="search for a user's id..."/>
            <button @click="actorToUsername(recipient)">Search</button>
            <span>{{this.recipientUsernameError2}}</span>
            <img class="loaded" id="loader3" src="images/loader.svg">
          </div>
        </div>
  
        <!-- A form for sending messages -->
        <form @submit.prevent="sendMessage">
          <div class="message-input-div">
            <div>
                <input @change="onImageAttachment" type="file" accept="image/*"/>
            </div>
            <textarea class="message-input" v-model="messageText" placeholder="My message is..."></textarea>
            <div class="send">
                <input type="submit" value="Send"/>
            </div>
          </div>
        </form>
  
        <ul>
          <!-- List all the messages -->
          <li v-for="message of messages" :key="message.id">
  
            <!-- Display and edit form if we're editing a message -->
            <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                <div class="message-bubble">
                    <div><like :messageid="message.id"></like></div>
                    <name :actor="message.actor"></name>
                    <span>({{actorsToUsernames[message.actor]}})</span>
                    <button @click="copy($event, message.actor)" class="id">Copy ID</button>
                    <template v-if="privateMessaging">
                      <span id="to">To: <name :actor="message.bto[0]"></name></span>
                      <span>({{actorsToUsernames[message.bto[0]]}})</span>
                      <button @click="copy($event, message.bto[0])" class="id">Copy ID</button>
                    </template>
    
                    <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                    <fieldset class="message">
                        <input class="edit-input" v-model="editText">
                        <input type="submit" value="Save"/>
                    </fieldset>
                </div>
            </form>
  
            <!-- Otherwise, display a bunch of properties from the message -->
            <ul v-else>
              <div class="message-bubble">
                <div><like :messageid="message.id"></like></div>
                <name :actor="message.actor"></name>
                <span>({{actorsToUsernames[message.actor]}})</span>
                <button @click="copy($event, message.actor)" class="id">Copy ID</button>
                <template v-if="privateMessaging">
                  <span id="to">To: <name :actor="message.bto[0]"></name></span>
                  <span>({{actorsToUsernames[message.bto[0]]}})</span>
                  <button @click="copy($event, message.bto[0])" class="id">Copy ID</button>
                </template>

                <span class="dateTime">{{ new Date(message.published).toString().slice(0,-36) }}</span>
                <fieldset class="message">
                  <p id="message-text">{{message.content}}</p>
                  <div v-if="message.attachment && message.attachment.magnet in downloadedImages">
                    <span v-if="downloadedImages[message.attachment.magnet]=='downloading'">
                        Image is downloading...
                    </span>
                    <span v-else-if="downloadedImages[message.attachment.magnet]=='error'">
                        Image could not be downloaded!
                    </span>
                    <img v-else :src="downloadedImages[message.attachment.magnet]" />
                  </div>    
                  <button @click="copy($event, message.id)" class="id">Copy ID</button>
                  <span class="dateTime">Last Updated: {{ new Date(message.updated).toString().slice(0,-36) }}</span>
                </fieldset>
  
                <!-- Only add these controls if the message is ours -->
                <!-- You can't edit or delete other people's messages -->
                <template v-if="message.actor==$gf.me">
                  <button class="edit" @click="startEditMessage($event, message)">
                    ✏️ Edit
                  </button>

                    <button class="delete" @click="removeMessage($event, message)">
                        🗑️ Delete
                    </button>
                </template>
              </div>
            </ul>
          </li>
        </ul>
      </template>
    </div>
  
    <template id="name">
      <span v-if="!editing">
  
        <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
        {{ profile? profile.name : 'Anonymous' }}
  
        <!-- Also if the name is "editable" add an edit button -->
        <button v-if="editable" @click="editName">
          ✏️ Edit
        </button>
      </span>
  
      <!-- If we're in the editing state, create something to edit the name-->
      <form v-else @submit.prevent="saveName">
        <input v-model="editText"/>
        <input type="submit" value="Save Name"/>
      </form>
    </template>

    <template id="like">
        <button @click="toggleLike">
          {{ myLikes.length? 'Unlike 👍' : 'Like 👍' }}
        </button>
        <span class="num-likes">{{ numLikes }}</span>
    </template>
 
</div>
</body>
</html>
