@font-face {
    font-family: "Varta";
    src: url("fonts/Varta-VariableFont_wght.ttf");
}
body {
    font-family: "Varta";
    line-height: 1.6;
    font-size: larger;
    font-kerning: normal;
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    hyphens: auto;
}
.main-content {
    max-width: 90vw;
}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 500;
}
ul {
    list-style: none;
}
p, li, figcaption {
    max-width: 80ch;
}
fieldset {
    background-color: rgb(220, 235.5, 251.5);
    border: none;
    border-radius: 8px;
}
ul > li > div#reply {
    border: black 1px;
    border-radius: 8px;
}
.dateTime {
    float: right;
    font-size: 16px;
}
.delete {
    float: right;
}
.message-bubble {
    margin-bottom: 3rem;
    border: none;
    transition: 500ms;
}
.message-input {
    height: 5vw;
    width: 45vw;
    max-height: 10vw;
    max-width: 70vw;
}
.send {
    display: block;
}
.message-input-div {
    line-height: 0.5;
    margin-top: 2rem;
}
#loader, #loader2, #loader3 {
    max-width: 1rem;
    display: inline;
}
#loader.loaded, #loader2.loaded, #loader3.loaded {
    display: none;
}
#to {
    margin-left: 1rem;
}
.username {
    margin-right: 1rem;
}
@keyframes jump {
	to { transform: translateY(-.4em); }
}
.transition {
	animation: jump 250ms 2 alternate;
}
img {
    max-width: 50vw;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#delete {
    animation: fadeOut 500ms;
}
.edit-input {
    width: 75vw;
}
.selected {
    font-weight: bold;
    background-color: rgb(203, 229, 255);
    text-decoration: underline;
    transition: 500ms;

}
.unselected {
    text-decoration: none;
    font-weight: normal;
    background-color: transparent;
}
input[type="radio"] {
    visibility: hidden;
    margin-right: 2rem;
}
.welcome:hover {
    transition: 500ms;
    color:rgb(0, 128, 255);
}
/* .read {
    padding-right: 40vw;
} */
#note-content {
    border: solid 1px black;
    border-radius: 8px;
    padding-top: 0;
    margin-top:0;
}
.profile {
    display: inline;
}
#profile-pic {
    max-height: 2rem;
   vertical-align: middle;
}
button {
    margin-right: 0.5rem;
}
div.conversation-preview {
    background-color: rgb(163, 223, 163);
    border-bottom: solid black 1px;
    padding: 2rem;
}
div.conversation-preview-first {
    background-color: rgb(163, 223, 163);
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 2rem;
    
}

.contact {
    font-size: larger;
    font-weight: bolder;
}
